{% extends 'base.html.twig' %}

{% block title %}Runart{% endblock %}


{% block header %}
    {% for message in app.flashes('suppr') %}
        <div class="suppr flex flex-row justify-center items-center bg-lime-300 text-green-900 border border-green-900 p-3">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('suppr_echec') %}
        <div class="suppr flex flex-row justify-center items-center bg-red-400 text-red-600 border border-red-600 p-3">
            {{ message }}
        </div>
    {% endfor %}

    <header>
        <div class="flex flex-col content-center items-center text-white bg-cover bg-center header lg:h-screen">
            <img src="{{ asset("build/uploads/logor.png") }}" class="w-2/6 mt-6">

            <div class="title_top flex flex-col content-center items-center w-1/4 text-center mb-3">
                <h1 class="text-6xl mb-4">RunArt</h1>
                <p class="text-lg">La première e-galerie de tous les artistes de la Réunion et de l'océan Indien.</p>
                <a href="{{ path('index') }}#presentation"><h2 class="text-xl hover:bg-orange-100 hover:text-slate-600 rounded-full py-1 px-2 ease-in-out duration-300 mb-4"><i class="fa-solid fa-chevron-down"></i></h2></a>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
    <div class="presentation w-full bg-stone-700 text-white flex flex-col justify-center items-center" id="presentation">
        <h2 class="text-4xl mt-16 mb-7">Qui sommes-nous ?</h2>

        <p class="text-lg text-center w-4/5 mb-4"><span class="font-bold">RunArt</span>, est la première e.galerie de la réunion et de l'océan indien, avec comme but de promouvoir les artistes, peintres, sculpteurs, photographes de l'océan Indien. Une double ambition :</p>

        <div class="flex flex-col justify-center items-start text-base text-center w-2/3">
            <p>_ Participer à l'émergence d'une scène artistique renouvelée, et soutenir les jeunes créateurs.</p>
            <p>_ Promouvoir le patrimoine artistique de la Réunion et de l'océan Indien, et rendre son art accessible à tous !</p>
        </div>

        <div class="flex flex-row justify-around items-center">
            <div class="w-1/2 flex flex-col justify-center items-center">
                <p class="text-base text-center mb-5 w-11/12"><span class="font-bold">RunArt</span>, c'est aussi un code de déontologie : La galerie et l'aritste qu'il représente ont des intérêts intrinséquement liés. Pour cette raison, leurs relations professionnelles sont fondées sur la confiance et se développent dans une perspective de collaboration à long terme. Du côté des acquéreurs, <span class="font-bold">RunArt</span> propose conseil, certificat d'auhenticité, provenance, et facture. Défiscalisation à 100% possible pour les entreprises, possibilités de leasing.</p>
                <p class="text-base text-center w-11/12">Les galeries membres du Comité professionnel des galeries d'art agissent dans le respect des obligations légales qui leur incombent et s'engagent à respecter ce Code de déontologie.</p>
            </div>

            <div class="video w-1/2 flex flex-col justify-center items-center">
                <div class="w-5/6 h-80"> 
                    <iframe class="w-full h-full" src="https://www.youtube.com/embed/E6Rpo8pwWYg" title="LA RÉUNION - Les 100 lieux qu'il faut voir - Documentaire complet" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>             
                </div>
            </div>
        </div>

        <div class="title_top flex flex-col content-center items-center w-1/4 text-center mb-3">
            <p class="text-lg">Voir nos artistes</p>
            <a href="{{ path('index') }}#presentation"><h2 class="text-xl hover:bg-orange-100 hover:text-slate-600 rounded-full py-1 px-2 ease-in-out duration-300"><i class="fa-solid fa-chevron-down"></i></h2></a>
        </div>
    </div>

    {% for user in users|slice(0, 1) %}
        <div class="artiste_unique w-full bg-orange-100 text-black flex flex-col justify-center items-center space-y-16 pb-16" id="artiste_unique">
            <div class="mt-16 w-5/6">
                <img src="{{ user.photouser }}" class="rounded-full profil float-left mr-6 w-1/6">
                <h3 class="text-4xl font-bold mb-3">{{ user.firstname }} {{ user.name }}</h3>
                <p class="text-base">{{ user.biographie }}</p>
            </div>

            <div class="mb-16 w-11/12 flex flex-row justify-between items-start flex-wrap">
                {% for oeuvre in user.oeuvres|slice(0, 3) %}
                        <div class="flex flex-col justify-end items-center oeuvre space-y-2">
                        
                            <img src="{{ oeuvre.photooeuvre }}" class="w-3/5">

                            <h3 class="font-bold text-2xl">{{ oeuvre.nomoeuvre }}</h3>

                            <p>{{ oeuvre.prix }} €</p>

                            <p>{{ oeuvre.descriptionoeuvre }}</p>

                            <div class="flex flex-row space-x-2 text-white text-xs w-full flex-wrap">
                                {% for tag in oeuvre.tags %}

                                        <p class="bg-stone-700 rounded px-2 mb-6"><i class="fa-solid fa-tag"></i> {{ tag.nomtag }}</p>

                                {% endfor %}
                            </div>
                        </div>
                {% endfor %}
            </div>
            <a href="" class="bg-stone-700 text-white rounded p-2 text-lg text-center">En voir plus de cet artiste <i class="fa-solid fa-angle-right"></i></a>
        </div>
    {% endfor %}

    <div class="bg-orange-100 flex flex-col justify-center items-center p-0 mb-10 w-full rounded-none" id="contact">
        <h2 class="text-4xl mt-8 mb-7">Contact</h2>

        {% for message in app.flashes('success') %}
            <div class="success flex flex-row justify-center items-center mb-4 bg-lime-300 rounded text-green-900 border border-green-900 p-3">
                {{ message }}
            </div>
        {% endfor %}

        {{ form_start(form, {
            'attr': {
                'class': 'bg-stone-700 text-white w-1/2 flex flex-col justify-center items-center mb-20 p-4 rounded space-y-2'
            }
        }) }}
            <div class="flex flex-row space-x-2">
                {{ form_row(form.Name) }}
                {{ form_row(form.Firstname) }}
            </div>

            <div class="flex flex-row space-x-2 w-full">
                <div class="left">
                    {{ form_row(form.Email) }}
                </div>
                
                <div class="right">
                    {{ form_row(form.Telephone) }}
                </div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
