<!DOCTYPE html>
<html class="scroll-smooth">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}RunArt{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
   
        {% block header %}{% endblock %}

        <div class="navbar flex flex-row justify-between items-center bg-stone-700 text-white sticky top-0 z-50">
            <div class="pl-5 flex flex-row justify-between items-center my-3 w-1/2">
                <a href="{{ path('index') }}" class="flex flex-row justify-start items-end logo">
                    <img src="{{ asset("build/uploads/logor.png") }}" class="w-1/4">
                    <h1 class="text-2xl ml-1">RunArt</h1>
                </a>
                
                <ul class="flex flex-row justify-end items-end space-x-5 text-base">
                    <a href="{{ path('index') }}#presentation"><li>Qui sommes-nous ?</li></a>
                    <a href=""><li>Artistes</li></a>
                    <a href=""><li>Catalogues</li></a>
                    <a href=""><li>Evénements</li></a>
                    <a href="{{ path('index') }}#contact"><li class="bg-orange-100 py-1 px-2 rounded text-black ease-in-out duration-300 hover:bg-orange-50">Contact</li></a>
                </ul>
            </div>

            <div class="pr-6 flex flex-row justify-end items-center my-3 w-1/2">
                <ul class="flex flex-row justify-end items-end space-x-5 text-base">
                    {% if app.user  %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('admin') }}">Admin</a>
                        {% endif %}
                        <a href="{{ path('profil', {'user_id': app.user.id}) }}">Voir mon profil</a>
                        <a href="{{ path('app_logout') }}">Déconnexion</a>
                    {% else %}
                        <a href="{{ path('app_login') }}"><li>Connexion</li></a>
                        <a href="{{ path('app_register') }}"><li>Inscription</li></a>
                    {% endif %}
                </ul>
            </div>  
        </div>
         {% include "_partials/_flash.html.twig" %}
        {% block body %}{% endblock %}

        <div class="footer flex flex-col items-center justify-center bg-stone-700 text-white space-y-6 my-8">
            <div class="flex flex-row w-full justify-around items-center">
                <div class="flex flex-col justify-center items-start w-1/5">
                    <h3 class="text-lg font-medium mb-2">RunArt</h3>
                    <p>Site de référencement d'oeuvres de la Réunion</p>
                    <p>Site de vente d'oeuvres de la Réunion</p>
                    <p>Condition générale de ventes</p>
                    <p>Mentions légales</p>
                    <p>Livraison et Expédition</p>
                </div>

                <div class="flex flex-col justify-center items-center w-1/5">
                    <img src="{{ asset("build/uploads/logor.png") }}" class="w-2/3">
                    <h3 class="text-3xl font-medium">RunArt</h3>
                </div>

                <div class="flex flex-col justify-center items-start w-1/5">
                    <h3 class="text-lg font-medium mb-2">Contactez-nous</h3>
                    <p>E-mail : runart.commande@gmail.com</p>
                    <p>Tel : 06 06 06 06 06</p>
                </div>
            </div>

            <div class="h-px w-5/6 bg-stone-800 rounded-full"></div>

            <div>
                <p class="text-sm">© 2019 Copyright: JCUBE, Hemonet Teddy, Moulin Jordan | Tous droits Reservés | Mentions légales | Politique de confidentialité | CGV</p>
            </div>
        </div>

        {% block javascripts %}
        {% endblock %}
          {{ encore_entry_script_tags('app') }}
    </body>
</html>
